blockquote {
    background: #ECF6F3;
    margin: 0 25px 15px 25px;
    padding: 0 25px 0 10px;
    border: 5px solid #e9e3d1;
    font-size: 1em;
}

blockquote p {
    margin: 0;
    padding: 10px 0 10px 0;
}