---
---

@import
  'base',
  'mixins',
  'extends',
  'layout',
  'components',
  'animations',
  'helpers'
;

.profile img.avatar {
  height: 90px;
  width: auto;
  border-radius: 50%;
  margin: 0 auto;
  background: white;
}
